table {
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: left;
    border-bottom: 1px solid white;
    padding: 8px;
}

tr:hover {
    background-color: lightgrey;
}

a:link {
    color: crimson;
    font-size: 50;
}
    
a:visited {
    color: orange;
    font-size: 50;
}
    
a:hover {
    color: yellow;
    font-size: 60;
}
    
a::selection {
    color: green;
    font-size: 70;
}
 
body {
 background-image: url(images/Background.jpg) ;
}

h5 {
    text-align: center;
}

h4 {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

div {
    text-align: center;
}

div.container {
    text-align: center;
}

ul.myUL {
    display: inline-block;
    text-align: left;
}

form {
    text-align: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 50%;
  }

.right {
      float: right;
      width: 25%;
      height: 25%;
}

.left {
    margin-right: auto;
    width: 15%;
    height: 15%;
}